<!-- post/templates/posts/post_list.html -->
 {% extends 'base.html' %}
 {% block title %}
    Sticky Notes - {{ page_title }}
{% endblock title %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <ul>
        <!-- Add sticky note link -->
        <a href="{% url 'post_create' %}" id = "add-sticky-note">Add sticky note</a>
        {% for post in posts %}
            <li>
                <!-- Link to the detail view of the sticky note, 
                 displaying the title and content of the note-->
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}
        </a>
                <p>
                    {{ post.content }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}